{% extends "assets/templates/index.html"%}
{% block content %}

<!--homepage-->
  <section id="hero-section">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-lg-6">
          <img src="assets/images/hero-images.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Your gluten free community</h1>
          <p class="lead">Search recipes and lots more.  Helping you revoluntionise your diet, and join a like minded community</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register today</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button>
          </div>
        </div>
      </div>
    </div>
   </section>
 
    